@mixin RobotoFont(
  $font-weight: 300,
  $font-size: 22px,
  $line-height: 50px,
  $letter-spacing: 2px
) {
  font-family: Roboto;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin ForumFont(
  $font-weight: normal,
  $font-size: 80px,
  $line-height: 90px,
  $letter-spacing: 5px,
  $text-transform: uppercase
) {
  font-family: Forum;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;

  text-transform: $text-transform;
}

@mixin flex($dir: row, $justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  flex-direction: $dir;
  align-items: $align;
}

$Bg-dark: #030303;
$Dark-red: #710707;
$Font-gold: #9d8665;
$White: #ffffff;
$Black: #000000;

html {
  scrollbar-width: none; /* firefox */
}
html::-webkit-scrollbar {
  /* webkit */
  width: 0;
  height: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 1920px;
  height: 200px;

  background: $Bg-dark;
  border-radius: 0px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 74px 240px 76px;
}

.flex-content {
  padding: 0;
  margin: 0;
  @include flex();
}

.svg {
  background: no-repeat url("assets/svg/logo.svg");
  background-position: 0 9px;
  width: 49px;
  height: 50px;
}

nav span,
footer span {
  width: 125px;
  @include ForumFont($font-size: 28px, $line-height: 50px);
  color: $White;
}

nav ul li {
  list-style-type: none;
  padding: 0;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;

  @include RobotoFont($font-weight: 200);

  color: $White;
}

.container {
  margin: 0 240px;
  padding: 75px 0;
}

section {
  width: 1920px;
  color: $Black;
  h2 {
    color: $Font-gold;
    margin: 0;
    padding: 0;
    @include ForumFont();
  }
}

.dark-section {
  color: $White !important;
  background-color: $Bg-dark;
  h2 {
    color: $White;
  }
}

.welcome {
  padding: 0;
  margin-right: 0 !important;
  background: no-repeat url("assets/img/welcome.png");
  background-position: 100% 100%;
  background-size: 1215px;
  height: 750px;

  p {
    margin: 0;
    padding-top: 26px;
    @include RobotoFont($font-size: 28px, $line-height: 33px);
  }

  button {
    color: $White;
    background: $Dark-red;
    @include flex($justify: center);
    cursor: pointer;
    margin-top: 76px;
    width: 360px;
    height: 75px;
    border: 0;
    border-radius: 10px;
    @include RobotoFont($font-weight: 200, $line-height: 26px);
  }
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: $Dark-red;
}

.cardContainer {
  @include flex();
  flex-wrap: wrap;
  gap: 77px 60px;
}

.visiting {
  .card {
    img {
      display: block;
      cursor: pointer;
    }
    img:hover {
      transform: scale(1.1);
    }
    h3 {
      margin: 25px 0 21px;
      position: relative;
      @include ForumFont($font-size: 32px, $line-height: 35px);
    }
    h3::after {
      position: absolute;
      left: 0;
      bottom: -11px;
      content: "";
      height: 2px;
      width: 68%;
      background-color: $Dark-red;
      transition: all 0.2s ease-in-out;
    }
    span.s22 {
      @include RobotoFont(
        $font-weight: 200,
        $line-height: 26px,
        $letter-spacing: normal
      );
    }
    span.s18 {
      @include RobotoFont(200, 18px, 21px, normal);
      display: inline-block;
      margin-top: 10px;
    }
  }
  .card:hover h3::after {
    width: 100%;
  }
}

.explore {
  h2 {
    margin-bottom: 103px;
  }
  p {
    padding: 0;
    margin: 0 0 25px;
    @include RobotoFont($line-height: 38px, $letter-spacing: normal);
  }
  > *:first-child {
    align-self: flex-start;
  }
  > *:second-child {
    align-self: flex-end;
  }
}

.video {
  display: block;
  margin-top: 15px !important;
  p {
    margin: 0;
    @include RobotoFont($line-height: 38px, $letter-spacing: normal);
  }
  .video-player {
    background-color: $Black;
    width: 100%;
    height: 57px;
    padding-top: 28px;
    img {
      display: inline-block;
      margin-left: 41px;
      vertical-align: middle;
    }
  }
}

.progress,
.progress-volume {
  background: linear-gradient(
    to right,
    #82cfd0 0%,
    #82cfd0 40%,
    #fff 40%,
    #fff 100%
  );
  border: solid 2px #82cfd0;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress {
  width: 60%;
}

.progress-volume {
  width: 10%;
}

.progress::-webkit-slider-thumb,
.progress-volume::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

.tickets {
  label {
    display: inline;
  }
  .radio-1 {
    width: 193px;
  }
  .radio-holder {
    padding-left: 60px;
    align-self: flex-start;
  }
  h4 {
    @include RobotoFont(bold, 28px, 33px, normal);
  }
  .amount-tickets {
    align-self: flex-start;
    width: 175px;
    h4 {
      margin: 0 0 11px;
      text-align: end;
    }
    h4.purchase-amount-total {
      margin: 50px 0;
    }
    p {
      margin: 0 0 14px;
      @include RobotoFont($line-height: 26px, $letter-spacing: normal);
    }
  }
}

.regular-radio {
  display: none;
}

.regular-radio + label {
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  padding: 6.5px;
  position: relative;
  margin-right: 23px;
}

.regular-radio:checked + label:after {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 50%;
  content: " ";
  font-size: 36px;
  height: 7px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 7px;
}

.regular-radio:checked + label {
  border: 2px solid $White;
  color: $White;
  padding: 6.5px;
}

.radio-button {
  margin-bottom: 49px;
}

.radio-text {
  @include RobotoFont($line-height: 26px, $letter-spacing: normal);
}

.purchase-amount-input {
  margin-bottom: 35px;
  border: 3px solid $White;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  display: flex;
}

.purchase-amount-input:nth-of-type(2) {
  margin-bottom: 0px;
}

.btn {
  border: 0px;
  flex-basis: 30%;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: $White;
  background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}

.amount-input-val {
  flex-basis: 40%;
  outline: none;
  border: none;
  width: 40%;
  text-align: center;
  
  color: $White;
  background-color: $Black;
}

.purchase-amount-buy {
  width: 175px;
  height: 50px;
  background: $White;
  border-radius: 2px;
  color: $Black;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.contacts-info {
  align-self: flex-start;
  @include flex($dir: column, $align: flex-start)
}

.contacts-info-head {
  @include RobotoFont(500, 28px, 33px, normal);
  text-align: left;
  margin: 10px 0 36px 0;
  max-width: 230px;
}

.contacts-info-list {
  padding: 0;
  margin: 0;
  justify-content: normal;
  width: 300px;
}

.contacts-info-item{
  padding-bottom: 20px;
}

.contacts-info-item,
.contacts-info-item * {
  list-style-type: none;
  @include RobotoFont($line-height: 26px, $letter-spacing: normal);
  color: $Black;
  letter-spacing: normal;
  text-transform: initial;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
}

li.contacts-info-item:hover {
  color: $Font-gold;
  transform: scale(1.1);
}

footer {
  background-color: $Black;
  height: 300px;
  width: 1920px;
}

.link {
  display: inline-block;
}

.link:hover {
  color: #9d8665;
  transform: scale(1.1);
}

.foot-logo {
  @include flex($align: flex-start);
  width: 195px; 
  padding-right: 145px;
  align-self: start;
}

.foot-link {
  @include RobotoFont(200, 22px, 50px, 2px);
}

.foot-nav-wrapper {
  display: flex;
  flex-basis: 1100px;
  width: 100%;
  height: 100%;
}

.foot-nav {
  flex-basis: 366px;
}

.foot-nav-list {
  margin: 0;
  @include flex($dir: column, $align: flex-start);
  flex-wrap: wrap;
  height: 150px;
  column-gap: 153px;
  padding: 0;
}

.foot-list-item {
  width: fit-content;
  width: -moz-fit-content;
}

.foot-media-list {
  @include flex($align: flex-end);
  margin-left: auto;
  max-width: 336px;
  width: 100%;
}

.media-list-item {
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  border-radius: 50%;
}

.media-link {
  width: 48px;
  height: 48px;
}

.media-list-item:nth-of-type(1) .media-link {
  background: url(assets/svg/Youtube.svg) center no-repeat;
}

.media-list-item:nth-of-type(2) .media-link {
  background: url(assets/svg/Instagram.svg) center no-repeat;
}

.media-list-item:nth-of-type(3) .media-link {
  background: url(assets/svg/Facebook.svg) center no-repeat;
}

.media-list-item:nth-of-type(4) .media-link {
  background: url(assets/svg/Twitter.svg) center no-repeat;
}

.media-list-item:nth-of-type(5) .media-link {
  background: url(assets/svg/Pinterest.svg) center no-repeat;
}
