$Bg-dark: #030303;
$Dark-red: #710707;
$Font-gold: #9d8665;
$White: #ffffff;
$Black: #000000;

html {
  scrollbar-width: none; /* firefox */
}
html::-webkit-scrollbar {
  /* webkit */
  width: 0;
  height: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 200px;

  background: $Bg-dark;
  border-radius: 0px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 74px 240px 76px;
}

.flex-content {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg {
  background: no-repeat url("assets/svg/logo.svg");
  background-position: 0 9px;
  width: 49px;
  height: 50px;
}

nav span,
footer span {
  width: 125px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;

  letter-spacing: 5px;
  text-transform: uppercase;
  color: $White;
}

nav ul li {
  list-style-type: none;
  padding: 0;
}

nav ul li a {
  cursor: pointer;
  text-decoration: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;

  letter-spacing: 2px;
  color: $White;
}

.container {
  margin: 0 240px;
  padding: 75px 0;
}

section {
  width: 100%;
  color: $Font-gold;
}

section h2 {
  margin: 0;
  padding: 0;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;

  letter-spacing: 5px;
  text-transform: uppercase;
}

.welcome p {
  margin: 0;
  padding-top: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;

  letter-spacing: 2px;
}

.dark-section {
  color: $White !important;
  background-color: $Bg-dark;
}

.welcome {
  padding: 0;
  margin-right: 0 !important;
  background: no-repeat url("assets/img/welcome.png");
  background-position: 100% 100%;
  background-size: 1215px;
  height: 750px;
}

.welcome button {
  cursor: pointer;
  margin-top: 76px;
  width: 360px;
  height: 75px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color: $White;
  background: $Dark-red;
  border: 0;
  border-radius: 10px;
}

.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: $Dark-red;
}

.cardContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 77px 60px;
}

.card {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  display: block;
}

.card h3 {
  margin: 25px 0 21px;
  position: relative;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: $Black;
}

.card h3::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  right: 0;
  height: 2px;
  width: 300px;
  background-color: $Dark-red;
}

.card span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
}

.card span.s22 {
  font-size: 22px;
  line-height: 26px;

  color: $Black;
}

.card span.s18 {
  display: inline-block;
  margin-top: 10px;
  font-size: 18px;
  line-height: 21px;

  color: $Black;
}

.explore h2 {
  margin-bottom: 103px;
}

.explore p {
  padding: 0;
  margin: 0 0 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.explore > *:first-child {
  align-self: flex-start;
}

.explore > *:second-child {
  align-self: flex-end;
}

.video {
  display: block;
  margin-top: 15px !important;
}

.video p {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  /* or 175% */
  color: $Black !important;
}

.video-player {
  background-color: $Black;
  width: 100%;
  height: 57px;
  padding-top: 28px;
}

.video-player img {
  display: inline-block;
  margin-left: 41px;
  vertical-align: middle;
}

.progress,
.progress-volume {
  background: linear-gradient(
    to right,
    #82cfd0 0%,
    #82cfd0 40%,
    #fff 40%,
    #fff 100%
  );
  border: solid 2px #82cfd0;
  border-radius: 8px;
  height: 7px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.progress {
  width: 60%;
}

.progress-volume {
  width: 10%;
}

.progress::-webkit-slider-thumb,
.progress-volume::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

label {
  display: inline;
}
.radio-1 {
  width: 193px;
}
.button-holder {
  padding-left: 60px;
}

section h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: $White;
}

.regular-radio {
  display: none;
}
.regular-radio + label {
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  padding: 6.5px;
  position: relative;
}
.regular-radio:checked + label:after {
  background: none repeat scroll 0 0 #ffffff;
  border-radius: 50%;
  content: " ";
  font-size: 36px;
  height: 7px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 7px;
}
.regular-radio:checked + label {
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 6.5px;
}

.radio-button {
  margin-bottom: 49px;
}

.radio-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: $White;
}

.purchase-amount-input {
  margin-bottom: 10px;
  border: 3px solid #000000;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  display: flex;
}

.input-operator {
  flex-basis: 30%;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: $White;
  background: none;
}

button {
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
}

.amount-input-val {
  flex-basis: 40%;
  outline: none;
  border: none;
  width: 40%;
  text-align: center;
}

.input-val {
  color: $White;
  background-color: $Black;
}

.purchase-amount-buy {
  width: 175px;
  height: 50px;
  background: $White;
  border-radius: 2px;
  color: $Black;
  margin-bottom: 107px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.contacts-info {
  display: flex;
  flex-direction: column;
}

.contacts-info-head {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
  max-width: 230px;
  color: $Black;
  justify-content: normal;
}

.contacts-info-list {
  justify-content: normal;
  width: 300px;
}

.contacts-info-item,
.contacts-info-item * {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: normal;
  text-transform: initial;
  color: #000000;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
}

li.contacts-info-item:hover {
  color: $Font-gold;
  transform: scale(1.1);
}

footer {
  background-color: $Black;
  height: 300px;
}

.link {
  display: inline-block;
}

.link:hover {
  color: #9d8665;
  transform: scale(1.1);
}

.foot-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 50px;

  letter-spacing: 2px;
}

.foot-nav {
  flex-basis: 40%;
}

.foot-nav-wrapper {
  display: flex;
  flex-basis: 79.5%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.foot-nav-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  column-gap: 20%;
}

.foot-list-item {
  width: fit-content;
  width: -moz-fit-content;
}

.foot-media-list {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  margin-left: auto;
  max-width: 340px;
  width: 100%;
}

.media-list-item {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 1px solid #666666;
  border-radius: 50%;
}

.media-link {
  width: 48px;
  height: 48px;
}

.media-list-item:nth-of-type(1) .media-link {
  background: url(assets/svg/Youtube.svg) center no-repeat;
}

.media-list-item:nth-of-type(2) .media-link {
  background: url(assets/svg/Instagram.svg) center no-repeat;
}

.media-list-item:nth-of-type(3) .media-link {
  background: url(assets/svg/Facebook.svg) center no-repeat;
}

.media-list-item:nth-of-type(4) .media-link {
  background: url(assets/svg/Twitter.svg) center no-repeat;
}

.media-list-item:nth-of-type(5) .media-link {
  background: url(assets/svg/Pinterest.svg) center no-repeat;
}
