@import "mixins.scss";

.gallery {
  padding-bottom: 0;
  h2 {
    margin-bottom: 75px;
  }
  &__pictures {
    position: relative;
    max-height: 1885px;
    overflow: hidden;
    &__gradient {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 360px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    }
    &__inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-auto-flow: dense;
      column-gap: 2.5%;
      img {
        position: relative;
        max-width: 100%;
        height: auto;
        margin-bottom: 18.5px;
        padding: 0;

        transition: all 1s;
        opacity: 0;
        transform: translate(0, 20%);
        &.img-show {
          opacity: 1 !important;
          transform: translate(0, 0) !important;
        }
      }
      img:nth-child(3n + 1) {
        grid-column-start: 1;
        top: 50px;
      }
      img:nth-child(3n + 2) {
        grid-column-start: 2;
        transition-delay: 0.2s;
      }
      img:nth-child(3n + 3) {
        grid-column-start: 3;
        top: 50px;
        transition-delay: 0.4s;
      }
      .square {
        grid-row-end: span 4;
      }
      .vertical {
        grid-row-end: span 5;
      }
      .horizontal {
        grid-row-end: span 3;
      }
    }
  }
}

@media (max-width: 1024px) {
  .gallery {
    h2 {
      margin-bottom: 60px;
    }
    &__pictures {
      max-height: 1265px;
      &__gradient {
        height: 239px;
      }
      &__inner {
        grid-template-columns: 304px 304px 304px;
        column-gap: 36px;
        img {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    h2 {
      margin-bottom: 40px;
    }
    &__pictures {
      max-height: 1080px;
      &__gradient {
        height: 235px;
      }
      &__inner {
        grid-template-columns: 352px 352px 0;
        column-gap: 24px;
        img {
          margin-bottom: 24px;
        }
      }
    }
  }
}


@media (max-width: 420px) {
  .gallery {
    &__pictures {
      max-height: 637px;
      &__gradient {
        height: 112px;
      }
      &__inner {
        grid-template-columns: 178px 178px 0;
      }
    }
  }
}
