@import "mixins.scss";

header {
  max-width: 1920px;
  width: 100%;
  height: 150px;
  background-color: $Black;
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
}

.nav-wrapper {
  @include flex();
  margin: 0 240px;
}

.nav-logo {
  @include flex();
  width: 199px;
  height: 33px;
  margin-top: 59px;
  margin-bottom: 58px;
  &_svg {
    background: no-repeat url("../assets/svg/logo.svg");
    background-position: 0 9px;
    width: 49px;
    height: 50px;
  }
  span {
    width: 125px;
    @include ForumFont(
      $font-size: 28px,
      $line-height: 50px,
      $letter-spacing: 5px
    );
    color: $White;
  }
}

.nav-links {
  width: 775px;
  height: 26px;
  margin: 62px 0;
  &_list {
    margin: 0;
    padding: 0;
    @include flex();
    &__item {
      list-style-type: none;
      padding: 0;
      a {
        cursor: pointer;
        text-decoration: none;
        @include RobotoFont($font-weight: 200, $letter-spacing: 2px);
        color: $White;
      }
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
  div {
    width: 32px;
    height: 2px;
    background-color: $White;
    margin-bottom: 6px;
  }
  div:nth-of-type(3) {
    margin: 0;
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 1024px) {
  header {
    width: 100%;
    height: 130px;
  }

  .nav-wrapper {
    @include flex();
    margin: 0 20px;
  }
  .nav-logo {
    @include flex();
    width: 189px;
    margin-top: 49px;
    margin-bottom: 48px;
    &_svg {
      background-position: 0 9px;
      height: 26px;
    }
    span {
      width: 120px;
      line-height: 31px;
    }
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    z-index: 1000;
    height: 18px;
    margin: 56px 0;
    align-self: flex-start;
    &_list {
      position: absolute;
      left: -250px;
      top: 140px;
      // background-color: rgba(255, 255, 255, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      &__item {
        margin: 25px;
        opacity: 0;
        text-align: left;
        a {
          color: $White;
        }
      }
    }
  }
  .burger {
    display: block;
    box-sizing: border-box;
    float: right;
  }
  .nav-active {
    background-color: $Black;
  }
}

@media (max-width: 768px) {
  header {
    width: 100%;
    height: 110px;
  }
  .nav-logo {
    @include flex();
    min-width: 199px;
    margin-top: 35px;
    margin-bottom: 34px;
    span {
      width: 125px;
      line-height: 50px;
    }
  }
  body {
    overflow-x: hidden;
  }
  .nav-links {
    margin: 46px 0;
    width: 100%;
    &_list {
      left: -180px;
      top: 110px;
    }
  }
}

@media (max-width: 420px) {
  header {
    width: 100%;
    height: 90px;
  }
  .nav-logo {
    min-width: 131px;
    height: 20px;
    margin-bottom: 35px;
    &_svg {
      background: no-repeat url("../assets/svg/logo_420.svg");
      width: 26px;
      height: 16px;
    }
    span {
      width: 82px;
      font-size: 16px;
      line-height: 18px;
    }
  }
  .nav-links {
    margin: 32px 0;
    width: 100%;
    &_list {
      left: -100px;
      top: 90px;
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(50px);
  }
}
