@import "mixins.scss";

html {
  scrollbar-width: none; /* firefox */
}
html::-webkit-scrollbar {
  /* webkit */
  width: 0;
  height: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
}

.container {
  margin: 0 240px;
  padding: 75px 0;
}

section {
  max-width: 1920px;
  width: 100%;
  color: $Black;
  h2 {
    color: $Font-gold;
    margin: 0;
    padding: 0;
    @include ForumFont();
  }
}

.dark-section {
  color: $White !important;
  background-color: $Bg-dark;
  h2 {
    color: $White;
  }
}

.flex-content {
  padding: 0;
  margin: 0;
  @include flex();
}
.underline-title {
  position: relative;
}
.underline-title::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: $Dark-red;
}

.parallax {
  width: 100%;
  max-width: 1920px;
  height: 400px;
  background-image: url(../assets/img/parallax.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 1024px) {
  .container {
    margin: 0 20px;
    padding: 60px 0;
  }

  section {
    width: 100%;
    h2 {
      @include ForumFont($font-size: 50px, $line-height: 75px);
    }
  }
  .underline-title::after {
    bottom: -23px;
  }
  
}

@media (max-width: 768px) {
  .container {
    margin: 0 20px;
    padding: 40px 0;
  }

  section {
    width: 100%;
    h2 {
      @include ForumFont($font-size: 40px, $line-height: 60px);
    }
  }
  .underline-title::after {
    bottom: -23px;
  }
  .parallax {
    height: 300px
  }
}

@media (max-width: 420px) {
  section {
    h2 {
      @include ForumFont($font-size: 28px, $line-height: 40px);
    }
  }
}

@import "header.scss";

@import "wellcome.scss";

@import "visiting.scss";

@import "explore.scss";

@import "video.scss";

@import "gallery.scss";

@import "tickets.scss";

@import "contacts.scss";

@import "footer.scss";


