@import "mixins.scss";

.cardContainer {
    @include flex();
    flex-wrap: wrap;
    gap: 77px 60px;
    margin-top: 103px;
  }
  
  .visiting {
    .card {
      img {
        display: block;
        cursor: pointer;
      }
      img:hover {
        transform: scale(1.1);
      }
      h3 {
        margin: 25px 0 21px;
        position: relative;
        @include ForumFont($font-size: 32px, $line-height: 35px);
      }
      h3::after {
        position: absolute;
        left: 0;
        bottom: -11px;
        content: "";
        height: 2px;
        width: 68%;
        background-color: $Dark-red;
        transition: all 0.2s ease-in-out;
      }
      span.s22 {
        @include RobotoFont(
          $font-weight: 200,
          $line-height: 26px,
          $letter-spacing: normal
        );
      }
      span.s18 {
        @include RobotoFont(200, 18px, 21px, normal);
        display: inline-block;
        margin-top: 10px;
      }
    }
    .card:hover h3::after {
      width: 100%;
    }
  }