@import "mixins.scss";

.welcome {
  padding: 0 0 60px 0;
  margin-right: 0;
  height: 750px;
  position: relative;
  &_info {
    position: absolute;
    top: 150px;
    z-index: 20;
    &__head {
      margin-bottom: 25px;
    }
    &__paragraph {
      margin: 0;
      padding: 0;
      @include RobotoFont(
        $font-size: 28px,
        $line-height: 33px,
        $letter-spacing: 2px
      );
    }
    .btn-link {
      color: $White;
      background: $Dark-red;
      @include flex($justify: center);
      cursor: pointer;
      margin-top: 76px;
      width: 360px;
      height: 75px;
      border: 0;
      border-radius: 10px;
      @include RobotoFont(
        $font-weight: 200,
        $line-height: 26px,
        $letter-spacing: 2px
      );
    }
  }
}

.carousel {
  margin-left: 440px;
  &__container {
    position: relative;
    max-width: 1000px;
    padding-bottom: 55px;
    overflow: hidden;
    .carousel__item {
      position: relative;
      display: none;
      margin: 0 auto;
      width: fit-content;
      animation: 0.5s ease-in-out;
      &.active {
        display: block;
      }
      & img {
        max-width: 100%;
        height: auto;
      }
      &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(
          90deg,
          #030303 0%,
          rgba(0, 0, 0, 0.5) 16.19%,
          rgba(0, 0, 0, 0) 30.73%
        );
      }
    }
    .carousel__controls {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 450px;
      height: 120px;
      padding: 0 7.5%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background: $Black;
      p.controls__count {
        @include RobotoFont($font-weight: normal, $line-height: 40px);
        text-transform: uppercase;
      }
      .controls__dots {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.3vw;
        row-gap: 10px;
        transition: 0.2s linear;
        .dot {
          width: 16px;
          height: 16px;
          background: #fff;
          border: none;
          transition: 0.2s linear;
          cursor: pointer;
          &.active {
            background: #d2b183;
          }
        }

        button {
          text-decoration: none;
        }
      }
      .controls__buttons {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 5px;
        > button {
          width: 30px;
          height: 8px;
          border: none;
          background-color: transparent;
          transition: 0.2s linear;
          cursor: pointer;
        }
        .welcome_prev {
          background: url(../assets/svg/welcome-slider-prev.svg) no-repeat
            center;
        }
        .welcome_next {
          background: url(../assets/svg/welcome-slider-next.svg) no-repeat
            center;
        }
      }
    }
  }
}
